@font-face {
    font-family: 'MavenPro';
    font-weight: 900;//black
    src: url('/font/MavenPro-Black.ttf') format('truetype');
  }
  @font-face {
    font-family: 'MavenPro';
    font-weight: 700;//bold
    src: url('/font/MavenPro-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'MavenPro';
    font-weight: 500;//medium
    src: url('/font/MavenPro-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'MavenPro';
    font-weight: 400;//regular
    src: url('/font/MavenPro-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 900;//black
    src: url('/font/Montserrat-Black.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 900;//black italic
    font-style: italic;
    src: url('/font/Montserrat-BlackItalic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 850;//extra bold
    src: url('/font/Montserrat-ExtraBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 850;//extra bold italic
    font-style: italic;
    src: url('/font/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 800;//bold
    src: url('/font/Montserrat-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 800;//bold italic
    font-style: italic;
    src: url('/font/Montserrat-BoldItalic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 750;//semibold
    src: url('/font/Montserrat-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 750;//semibold italic
    font-style: italic;
    src: url('/font/Montserrat-SemiBoldItalic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 600;//medium
    src: url('/font/Montserrat-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 600;//medium italic
    font-style: italic;
    src: url('/font/Montserrat-MediumItalic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 500;//regular
    src: url('/font/Montserrat-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 600;//regular italic
    font-style: italic;
    src: url('/font/Montserrat-Italic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 400;//light
    src: url('/font/Montserrat-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 400;//light italic
    font-style: italic;
    src: url('/font/Montserrat-LightItalic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 350;//xtra light
    src: url('/font/Montserrat-ExtraLight.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 350;//xtra light italic
    font-style: italic;
    src: url('/font/Montserrat-ExtraLightItalic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 300;//thin
    src: url('/font/Montserrat-Thin.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 300;//thin italic
    font-style: italic;
    src: url('/font/Montserrat-ThinItalic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Museo';
    font-weight: 700;//bold
    src: url('/font/Museo700-Regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'Museo';
    font-weight: 500;//medium
    src: url('/font/Museo500-Regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'Museo';
    font-weight: 300;//regular
    src: url('/font/Museo300-Regular.otf') format('opentype');
  }