@import 'hamMenu';
@import 'nav';
@import 'search';
header {
    position: relative;
    width: 100vw;
    height: 600px;
    background: $bg-filter,linear-gradient(180deg, rgb(50, 63, 73) 0%, rgba(50, 63, 73, 0.9) 2.08%, rgba(50, 63, 73, 0.5) 100%), url(img/bg/header.jpg);
    background-size: cover;
    background-position: center;
    padding:0;
    margin:0;
    top:0;
    left:0;
}
 .menu-nav {
     top:0;
     left:0;
     margin:0;
     padding:0;
     width: 100vw;
     display:flex;
     flex-direction: row;
     justify-content: space-between;
     position:absolute;
     z-index: 19999;
 }
 .main-logo {
     display:block;
     width: 200px;
     height: 150px;
     overflow: hidden;
     position: relative;
     margin: 20px;
 }
.main-logo.active {
    position: fixed;
}
 .main-logo h1 {
     position: absolute;
     bottom: 150vh;
 }
 .main-logo img {
     position: absolute;
     width: 100%;
     top: 50%;
     left:50%;
     transform: translate(-50%, -50%);
 }
 .main-descr {
     position: absolute;
     width: 60vw;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-end;
 }
 .date {
     display: flex;
     flex-direction: column;
     justify-content: center;
     color: $CTA-color;
     font-family: Montserrat;
     font-weight: 400;
     font-size: 30px;
     margin-bottom: 50px;
 }
 .date strong {
     display: block;
     font-family: Montserrat;
     font-weight: 400;
     font-size: 60px;
     margin-top: 20px;
     margin-bottom:20px;
     order: -1;
 }
 .header-txt {
     display:none;
 }
 .main-descr .CTA {
     padding: 10px 50px;
     border-radius: 50px;
     color: white;
     background-color: $CTA-color;
     margin-bottom: 50px;
     font-family: Montserrat;
     font-weight: 600;
     font-size: 15px;
 }