ul {
    list-style: none;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
}
button {
    border: none;
    color: black;
    background-color: none;
}
input {
    border: none;
    background-color: none;
    color: black;
}
fieldset {
    border: none;
}