@font-face {
  font-family: 'MavenPro';
  font-weight: 900;
  src: url("/font/MavenPro-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'MavenPro';
  font-weight: 700;
  src: url("/font/MavenPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'MavenPro';
  font-weight: 500;
  src: url("/font/MavenPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'MavenPro';
  font-weight: 400;
  src: url("/font/MavenPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: url("/font/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: italic;
  src: url("/font/Montserrat-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 850;
  src: url("/font/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 850;
  font-style: italic;
  src: url("/font/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url("/font/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: italic;
  src: url("/font/Montserrat-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 750;
  src: url("/font/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 750;
  font-style: italic;
  src: url("/font/Montserrat-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url("/font/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  src: url("/font/Montserrat-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url("/font/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  src: url("/font/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url("/font/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
  src: url("/font/Montserrat-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 350;
  src: url("/font/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 350;
  font-style: italic;
  src: url("/font/Montserrat-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url("/font/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  src: url("/font/Montserrat-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Museo';
  font-weight: 700;
  src: url("/font/Museo700-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Museo';
  font-weight: 500;
  src: url("/font/Museo500-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Museo';
  font-weight: 300;
  src: url("/font/Museo300-Regular.otf") format("opentype");
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  color: black;
  background-color: none;
}

input {
  border: none;
  background-color: none;
  color: black;
}

fieldset {
  border: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 180%;
  font-size: 15px;
}

.ham-button {
  display: block;
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 9999;
  margin: 30px;
}

.ham-button :nth-child(1),
.ham-button :nth-child(2),
.ham-button :nth-child(3) {
  display: block;
  position: absolute;
  height: 4px;
  background-color: #00D8FF;
  right: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.ham-button :nth-child(1) {
  width: 24px;
  top: 0;
}

.ham-button :nth-child(2) {
  width: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ham-button :nth-child(3) {
  width: 15px;
  bottom: 0;
}

.ham-button:hover > :nth-child(1),
.ham-button:hover > :nth-child(2),
.ham-button:hover > :nth-child(3),
.ham-button:focus > :nth-child(1),
.ham-button:focus > :nth-child(2),
.ham-button:focus > :nth-child(3) {
  width: 30px;
}

.ham-button.active > :nth-child(1) {
  width: 30px;
  top: 50%;
  background-color: #284e68;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.ham-button.active > :nth-child(2) {
  opacity: 0;
  background-color: #284e68;
}

.ham-button.active > :nth-child(3) {
  width: 30px;
  top: 50%;
  background-color: #284e68;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 216, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 8000;
}

.main-nav-list {
  margin: 0;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-link {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.nav-link a {
  font-family: 'Montserrat';
  font-weight: 850;
  font-size: 24px;
  color: #284e68;
}

.search form {
  display: none;
}

.search-button {
  display: block;
  width: 30px;
  height: 30px;
  background: black;
}

header {
  position: static;
}

.menu-nav {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 9999;
}

.main-logo {
  display: block;
  width: 200px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin-left: 20px;
}

.main-logo h1 {
  position: absolute;
  bottom: 150vh;
}

.main-logo img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */