@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css);
@font-face {
  font-family: 'MavenPro';
  font-weight: 900;
  src: url("/font/MavenPro-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'MavenPro';
  font-weight: 700;
  src: url("/font/MavenPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'MavenPro';
  font-weight: 500;
  src: url("/font/MavenPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'MavenPro';
  font-weight: 400;
  src: url("/font/MavenPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: url("/font/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: italic;
  src: url("/font/Montserrat-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 850;
  src: url("/font/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 850;
  font-style: italic;
  src: url("/font/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url("/font/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: italic;
  src: url("/font/Montserrat-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 750;
  src: url("/font/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 750;
  font-style: italic;
  src: url("/font/Montserrat-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url("/font/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  src: url("/font/Montserrat-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url("/font/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  src: url("/font/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url("/font/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
  src: url("/font/Montserrat-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 350;
  src: url("/font/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 350;
  font-style: italic;
  src: url("/font/Montserrat-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url("/font/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  src: url("/font/Montserrat-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Museo';
  font-weight: 700;
  src: url("/font/Museo700-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Museo';
  font-weight: 500;
  src: url("/font/Museo500-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Museo';
  font-weight: 300;
  src: url("/font/Museo300-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'codeconf';
  src: url("/font/icon/codeconf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font Awesome 5 Free - brands';
  src: url("/font/icon/fa-brands-400.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font Awesome 5 Free - regular';
  src: url("/font/icon/fa-regular-400.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font Awesome 5 Free - solid';
  src: url("/font/icon/fa-solid-900.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 180%;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  color: black;
  background-color: none;
}

input {
  border: none;
  background-color: none;
  color: black;
}

fieldset {
  border: none;
}

section {
  margin: 0;
  padding: 0;
}

article {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100vw;
}

figure {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  width: 100vw;
  height: 600px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(3.2%, rgba(244, 152, 179, 0.176)), color-stop(51.85%, rgba(0, 216, 255, 0.09)), color-stop(96.4%, rgba(40, 51, 59, 0))), -webkit-gradient(linear, left top, left bottom, from(#323f49), color-stop(2.08%, rgba(50, 63, 73, 0.9)), to(rgba(50, 63, 73, 0.5))), url(img/bg/header.jpg);
  background: linear-gradient(0deg, rgba(244, 152, 179, 0.176) 3.2%, rgba(0, 216, 255, 0.09) 51.85%, rgba(40, 51, 59, 0) 96.4%), linear-gradient(180deg, #323f49 0%, rgba(50, 63, 73, 0.9) 2.08%, rgba(50, 63, 73, 0.5) 100%), url(img/bg/header.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.menu-nav {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 19999;
}

.menu-nav .main-logo {
  display: block;
  width: 200px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin: 20px;
}

.menu-nav .main-logo h1 {
  position: absolute;
  bottom: 150vh;
}

.menu-nav .main-logo img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-nav .main-logo.active {
  position: fixed;
}

.menu-nav .ham-button {
  display: block;
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 9999;
  margin: 30px;
}

.menu-nav .ham-button :nth-child(1),
.menu-nav .ham-button :nth-child(2),
.menu-nav .ham-button :nth-child(3) {
  display: block;
  position: absolute;
  height: 4px;
  background-color: #00D8FF;
  right: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.menu-nav .ham-button :nth-child(1) {
  width: 24px;
  top: 0;
}

.menu-nav .ham-button :nth-child(2) {
  width: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu-nav .ham-button :nth-child(3) {
  width: 15px;
  bottom: 0;
}

.menu-nav .ham-button.active {
  position: fixed;
  top: 0;
  right: 0;
}

.menu-nav .ham-button.active > :nth-child(1) {
  width: 30px;
  top: 50%;
  background-color: #284e68;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.menu-nav .ham-button.active > :nth-child(2) {
  opacity: 0;
  background-color: #284e68;
}

.menu-nav .ham-button.active > :nth-child(3) {
  width: 30px;
  top: 50%;
  background-color: #284e68;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.menu-nav .ham-button:hover > :nth-child(1),
.menu-nav .ham-button:hover > :nth-child(2),
.menu-nav .ham-button:hover > :nth-child(3),
.menu-nav .ham-button:focus > :nth-child(1),
.menu-nav .ham-button:focus > :nth-child(2),
.menu-nav .ham-button:focus > :nth-child(3) {
  width: 30px;
}

.main-nav {
  position: fixed;
  top: 0;
  left: -100vw;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 216, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 8000;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.main-nav .main-nav-list {
  margin: 0;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-nav .main-nav-list .search {
  max-height: 30px;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 10px;
}

.main-nav .main-nav-list .search .search-button {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 50;
}

.main-nav .main-nav-list .search .search-button::before {
  content: "\e901";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'codeconf';
  speak: none;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #284e68;
}

.main-nav .main-nav-list .search .search-form {
  display: block;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: relative;
  z-index: 55;
}

.main-nav .main-nav-list .search .search-form .submit-search {
  background: black;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -50px;
  opacity: 0;
}

.main-nav .main-nav-list .search .search-form .close-search {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -2px;
  left: 0;
  width: 30px;
  height: 30px;
  background: none;
  margin: 0;
  padding: 0;
}

.main-nav .main-nav-list .search .search-form .close-search div {
  position: absolute;
  top: -150vh;
}

.main-nav .main-nav-list .search .search-form .close-search::before,
.main-nav .main-nav-list .search .search-form .close-search::after {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background: #284e68;
  -webkit-transform-origin: center, center;
          transform-origin: center, center;
}

.main-nav .main-nav-list .search .search-form .close-search::before {
  -webkit-transform: rotate(45deg) translate(40%, -100%);
          transform: rotate(45deg) translate(40%, -100%);
}

.main-nav .main-nav-list .search .search-form .close-search::after {
  -webkit-transform: rotate(-45deg) translate(-40%, -100%);
          transform: rotate(-45deg) translate(-40%, -100%);
}

.main-nav .main-nav-list .search .search-form input {
  margin-left: 50px;
  outline: none;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 15px;
  background: none;
}

.main-nav .main-nav-list .search.active .search-form {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main-nav .main-nav-list .search.active .search-form label {
  display: none;
}

.main-nav .main-nav-list .search.active::after {
  content: '';
  display: block;
  position: fixed;
  width: 0vw;
  height: 0vh;
  left: 100vw;
  top: 70vh;
  border-radius: 100%;
  background-color: #F297B1;
  z-index: 1;
  -webkit-animation-name: anim-search-mask;
          animation-name: anim-search-mask;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.main-nav .main-nav-list .search.active::before {
  content: '';
  display: block;
  width: 0%;
  height: 0%;
  border: none;
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 100%;
  background-color: white;
  z-index: 40;
  -webkit-animation-name: anim-search-form;
          animation-name: anim-search-form;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0.27, 0.56, 1.55);
          animation-timing-function: cubic-bezier(0.65, 0.27, 0.56, 1.55);
}

@-webkit-keyframes anim-search-mask {
  0% {
    width: 0vw;
    height: 0vh;
    left: 95vw;
    top: 75vh;
    border-radius: 100%;
  }
  100% {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    border-radius: 0%;
  }
}

@keyframes anim-search-mask {
  0% {
    width: 0vw;
    height: 0vh;
    left: 95vw;
    top: 75vh;
    border-radius: 100%;
  }
  100% {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    border-radius: 0%;
  }
}

@-webkit-keyframes anim-search-form {
  0% {
    width: 0%;
    height: 0%;
    top: 50%;
    left: 100%;
    border-radius: 50px;
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    border-radius: 0px;
  }
}

@keyframes anim-search-form {
  0% {
    width: 0%;
    height: 0%;
    top: 50%;
    left: 100%;
    border-radius: 50px;
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    border-radius: 0px;
  }
}

.main-nav .main-nav-list .nav-link {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.main-nav .main-nav-list .nav-link a {
  font-family: 'Montserrat';
  font-weight: 850;
  font-size: 24px;
  color: #284e68;
}

.main-nav.active {
  left: 0;
}

.main-descr {
  position: absolute;
  width: 60vw;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-descr .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #00D8FF;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 50px;
}

.main-descr .date strong {
  display: block;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.main-descr .header-txt {
  display: none;
}

.main-descr .CTA {
  padding: 10px 50px;
  border-radius: 50px;
  color: white;
  background-color: #00D8FF;
  margin-bottom: 50px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 15px;
}

.CTA.title {
  color: #00D8FF;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 850;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 27px;
}

.activities {
  display: -ms-grid;
  display: grid;
  grid: row 1fr / auto;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: start;
      align-content: start;
  padding: 0;
}

.activities .activity {
  width: 70vw;
  min-height: 80px;
  background: #F8F8F8;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding-right: 85px;
  padding: 30px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.activities .activity .more {
  min-width: 25px;
  min-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.activities .activity .more :nth-child(1),
.activities .activity .more :nth-child(2),
.activities .activity .more :nth-child(3) {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #737b80;
  margin: 2px;
}

.activities .activity figure {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.activities .activity figure .activity-img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  display: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: -100vw;
}

.activities .activity figure .lieu {
  color: #737b80;
  font-family: Museo;
  font-weight: 500;
  font-size: 27px;
  margin-bottom: 10px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.activities .activity figure .lieu strong {
  display: block;
  font-family: Montserrat;
  font-weight: 900;
}

.activities .activity .location {
  font-weight: 400;
  font-size: 18px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.activities .activity .activity-content {
  display: none;
  padding: 0;
  margin: 0;
}

.activities .activity .activity-content h3 {
  font-size: 15px;
}

.activities .activity .activity-content .activity-descr {
  color: white;
}

.activities .activity .activity-content .activity-buttons {
  margin-top: 10px;
  width: 80%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activities .activity .activity-content .activity-buttons .like {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activities .activity .activity-content .activity-buttons .like::after {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 30px;
  display: block;
  color: #EBE3A6;
  -webkit-transition: all 300ms cubic-bezier(0.65, 0.27, 0.56, 1.55);
  transition: all 300ms cubic-bezier(0.65, 0.27, 0.56, 1.55);
}

.activities .activity .activity-content .activity-buttons .like.active::after {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 30px;
  display: block;
  color: #EBE3A6;
  -webkit-animation-name: likeanim;
          animation-name: likeanim;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.activities .activity .activity-content .activity-buttons .read-more {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 17px;
  color: white;
}

.activities .activity .activity-content .activity-buttons::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  width: 2px;
  background: white;
}

.activities .activity.active {
  background: #31424D;
}

.activities .activity.active .more {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 70px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.activities .activity.active .more :nth-child(1) {
  display: none;
}

.activities .activity.active .activity-img {
  display: block;
  margin-top: 40px;
  margin-left: -100vw;
  -webkit-animation-name: anim-activity-img;
          animation-name: anim-activity-img;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0.27, 0.56, 1.55);
          animation-timing-function: cubic-bezier(0.65, 0.27, 0.56, 1.55);
}

.activities .activity.active .lieu {
  color: white;
}

.activities .activity.active .location {
  position: absolute;
  top: 94px;
}

.activities .activity.active .activity-content {
  display: block;
  opacity: 0;
  -webkit-animation-name: anim-activity;
          animation-name: anim-activity;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0.27, 0.56, 1.55);
          animation-timing-function: cubic-bezier(0.65, 0.27, 0.56, 1.55);
}

.center {
  color: #EBE3A6;
}

.north {
  color: #FF7D9E;
}

.east {
  color: #284e68;
}

.south {
  color: #00D8FF;
}

.west {
  color: #D35B7E;
}

@-webkit-keyframes anim-activity-img {
  0% {
    margin-left: -100vw;
  }
  100% {
    margin-left: 0vw;
  }
}

@keyframes anim-activity-img {
  0% {
    margin-left: -100vw;
  }
  100% {
    margin-left: 0vw;
  }
}

@-webkit-keyframes likeanim {
  0% {
    font-weight: 400;
    font-size: 20px;
  }
  50% {
    font-weight: 900;
    font-size: 40px;
  }
  100% {
    font-weight: 900;
    font-size: 30px;
  }
}

@keyframes likeanim {
  0% {
    font-weight: 400;
    font-size: 20px;
  }
  50% {
    font-weight: 900;
    font-size: 40px;
  }
  100% {
    font-weight: 900;
    font-size: 30px;
  }
}

@-webkit-keyframes anim-activity {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes anim-activity {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

footer {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(3.2%, rgba(244, 152, 179, 0.176)), color-stop(51.85%, rgba(0, 216, 255, 0.09)), color-stop(96.4%, rgba(40, 51, 59, 0))), -webkit-gradient(linear, left top, left bottom, from(#323f49), color-stop(2.08%, rgba(50, 63, 73, 0.9)), to(rgba(50, 63, 73, 0.5))), url(img/bg/footer.jpg);
  background: linear-gradient(0deg, rgba(244, 152, 179, 0.176) 3.2%, rgba(0, 216, 255, 0.09) 51.85%, rgba(40, 51, 59, 0) 96.4%), linear-gradient(180deg, #323f49 0%, rgba(50, 63, 73, 0.9) 2.08%, rgba(50, 63, 73, 0.5) 100%), url(img/bg/footer.jpg);
  background-size: cover, cover;
  background-repeat: no-repeat;
  background-position-y: 70px;
  width: calc(100vw - 100px);
  padding-left: 50px;
  padding-right: 50px;
  min-height: 200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .pay-info {
  margin-bottom: 50px;
}

footer .pay-info .CTA.footer-title {
  color: #31424D;
  background: #00D8FF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 70px;
  width: calc(100vw - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px #AAAAAA;
          box-shadow: 0px 0px 10px #AAAAAA;
  font-size: 20px;
  font-weight: 700;
}

footer .pay-info .ticket-info {
  width: calc(100vw - 120px);
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  background: #323F49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px #AAAAAA;
          box-shadow: 0px 0px 10px #AAAAAA;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

footer .pay-info .ticket-info .pay-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  height: 40px;
  color: #737b80;
  padding: 0;
  margin: 0;
}

footer .pay-info .ticket-info .pay-buttons .pay-choice {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}

footer .pay-info .ticket-info .pay-buttons .credit-card::after {
  content: '\e905';
  display: block;
  font-family: 'codeconf';
  font-size: 25px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer .pay-info .ticket-info .pay-buttons .paypal::after {
  content: '\e906';
  display: block;
  font-family: 'codeconf';
  font-size: 25px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer .pay-info .ticket-info .pay-buttons .pay-choice-title {
  position: absolute;
  top: -100vh;
}

footer .pay-info .ticket-info .price {
  color: #00D8FF;
  font-size: 20px;
  font-weight: 500;
}

footer .pay-info .ticket-info .price strong {
  color: white;
  margin-right: 5px;
}

footer .info-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .info-footer > h2 {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

footer .info-footer > h2::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/icons/pin.svg);
}

footer .footer-img {
  display: none;
}

footer .resume {
  margin-bottom: 30px;
}

footer .resume .address {
  color: white;
  font-size: 14px;
}

footer .resume p {
  color: white;
}

footer .contact {
  margin-bottom: 30px;
}

footer .contact > h2 {
  color: white;
  font-size: 13px;
}

footer .contact ul {
  padding: 0;
  margin: 0;
}

footer .contact ul .type-contact {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

footer .contact ul .contact-descr {
  color: white;
  font-weight: 600;
  font-size: 17px;
}

footer .social-media {
  background: white;
  min-width: calc(100vw - 160px);
  padding: 30px;
  min-height: 80px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}

footer .social-media > h2 {
  color: #00D8FF;
  font-size: 17px;
}

footer .social-media ul {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .social-media ul .media {
  margin: 0;
  padding: 0;
  padding-left: 50px;
  position: relative;
  min-width: 50px;
  margin-bottom: 15px;
}

footer .social-media ul .media .tag-media {
  color: #323F49;
  font-size: 15px;
}

footer .social-media ul .media-1::after {
  content: '\e90b';
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 30px;
  color: #323F49;
  font-family: 'codeconf';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .social-media ul .media-2::after {
  content: '\e90d';
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 30px;
  color: #323F49;
  font-family: 'codeconf';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .backlin-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .backlin-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100vw - 100px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .backlin-list li img {
  width: 120px;
}

.contact-us {
  width: calc(100vw -100px);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#323f49), color-stop(2.08%, rgba(50, 63, 73, 0.9)), to(rgba(50, 63, 73, 0.7))), url(img/bg/footer.jpg);
  background: linear-gradient(180deg, #323f49 0%, rgba(50, 63, 73, 0.9) 2.08%, rgba(50, 63, 73, 0.7) 100%), url(img/bg/footer.jpg);
  background-size: cover, cover;
  background-repeat: no-repeat;
  position: relative;
}

.contact-us .required::after {
  content: '*';
  display: inline;
  margin-left: 5px;
  color: #00D8FF;
}

.contact-us form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.contact-us .contact-title {
  text-transform: uppercase;
  font-weight: 850;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.contact-us .contact-descr {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.contact-us label {
  font-size: 18px;
  -webkit-transform: translateY(20px) translateX(10px);
          transform: translateY(20px) translateX(10px);
  margin-bottom: 5px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 1px;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

.contact-us .message-label {
  -webkit-transform: translateY(30px) translateX(10px);
          transform: translateY(30px) translateX(10px);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.contact-us input {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  background: none;
  border-bottom: 1px solid #737b80;
  outline: none;
  color: white;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.contact-us ::-webkit-input-placeholder {
  opacity: 1;
  padding-left: 100px;
  color: #737b80;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.contact-us textarea {
  background: none;
  border: 1px solid #737b80;
  outline: none;
  color: white;
  padding: 10px;
  width: calc(100% - 20px);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.contact-us .send-button[disabled] {
  width: 100%;
  padding: 10px;
  background: none;
  border-radius: 50px;
  border: 1px solid #737b80;
  color: #737b80;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  margin-top: 30px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  overflow: hidden;
  position: relative;
  outline: none;
}

.contact-us input:focus {
  border-bottom: 1px solid white;
}

.contact-us input:focus::-webkit-input-placeholder {
  padding-left: 0px;
}

.contact-us textarea:focus {
  border: 1px solid white;
}

.contact-us textarea:focus::-webkit-input-placeholder {
  padding-left: 0px;
}

.contact-us .send-button::after {
  content: '';
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  background: white;
  right: 150%;
  top: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(-50%) rotate(20deg);
          transform: translateY(-50%) rotate(20deg);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  z-index: -1;
}

.contact-us .send-button {
  border: 1px solid white;
  color: white;
}

.contact-us .send-button:hover {
  border: 1px solid white;
  color: #323F49;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  outline: none;
}

.contact-us .send-button:hover::after {
  right: 0;
}

.contact-us input.texted {
  border-bottom: 1px solid #00D8FF;
}

.contact-us textarea.texted {
  border: 1px solid #00D8FF;
}

.contact-us label.texted {
  font-size: 13px;
  color: #737b80;
  -webkit-transform: translateY(0px) translateX(0px);
          transform: translateY(0px) translateX(0px);
}

@media screen and (min-width: 900px) {
  .menu-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-nav .ham-button {
    display: none;
  }
  .main-nav {
    position: static;
    left: 0;
    width: 0;
    height: 0;
    background: none;
  }
  .main-nav .main-nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 50px;
  }
  .main-nav .main-nav-list .search {
    width: 30px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    display: block;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .main-nav .main-nav-list .search .search-button::before {
    color: #F297B1;
    font-size: 18px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .main-nav .main-nav-list .search .search-button:hover::before {
    color: white;
    font-size: 20px;
  }
  .main-nav .main-nav-list .search .search-form {
    width: 200px;
  }
  .main-nav .main-nav-list .search .search-form .submit-search {
    top: 0;
    right: -100px;
  }
  .main-nav .main-nav-list .search .search-form .close-search::before,
  .main-nav .main-nav-list .search .search-form .close-search::after {
    background: white;
  }
  .main-nav .main-nav-list .search input {
    width: 200px;
    color: white;
  }
  .main-nav .main-nav-list .search.active {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 5px;
  }
  .main-nav .main-nav-list .search.active .search-button::before {
    color: white;
  }
  .main-nav .main-nav-list .search.active ~ .nav-link {
    display: none;
  }
  .main-nav .main-nav-list .search.active::after {
    display: none;
  }
  @-webkit-keyframes anim-search-form {
    100% {
      width: 200px;
      height: 0px;
      left: 40px;
      top: 80%;
    }
  }
  @keyframes anim-search-form {
    100% {
      width: 200px;
      height: 0px;
      left: 40px;
      top: 80%;
    }
  }
  .main-nav .main-nav-list .nav-link {
    margin-top: 0;
    margin-right: 30px;
    position: relative;
  }
  .main-nav .main-nav-list .nav-link a {
    font-weight: 500;
    font-size: 18px;
    color: #F297B1;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .main-nav .main-nav-list .nav-link:hover a {
    font-size: 21px;
    color: white;
  }
  .main-nav .main-nav-list .nav-link::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background: #F297B1;
    top: 0;
    right: -15px;
  }
  .main-nav .main-nav-list .nav-link:last-child::after {
    display: none;
  }
  .main-descr {
    bottom: -75px;
  }
  .main-descr .date {
    margin-bottom: 30px;
    font-size: 40px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .main-descr .date strong {
    margin-top: 30px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main-descr .CTA {
    padding: 10px 70px;
  }
  .main-descr .header-txt {
    display: block;
    font-size: 15px;
    width: 500px;
    text-align: center;
    color: white;
    font-weight: 400;
    margin-bottom: 30px;
  }
  main {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 100px;
  }
  .CTA.title {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: left;
  }
  .activities {
    width: 100%;
    grid: auto / 250px 250px 250px 250px;
    justify-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-gap: 30px 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: start;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-auto-columns: 1fr;
    position: relative;
  }
  .activities .activity {
    width: 250px;
    height: 350px;
    margin-bottom: 0px;
    padding: 0;
    padding-bottom: 30px;
  }
  .activities .activity .more {
    display: none;
  }
  .activities .activity figure {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .activities .activity figure .activity-img {
    display: block;
    position: static;
    top: 0;
    left: 0;
    height: 250px;
    width: 250px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .activities .activity figure .activity-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 100px;
    bottom: -200px;
    left: 30px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .activities .activity figure .activity-content .activity-buttons {
    width: 200px;
  }
  .activities .activity figure .lieu {
    font-size: 22px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .activities .activity .location {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15px;
  }
  .activities .activity.active,
  .activities .activity:hover,
  .activities .activity:focus {
    background: #31424D;
  }
  .activities .activity.active .activity-img,
  .activities .activity:hover .activity-img,
  .activities .activity:focus .activity-img {
    position: absolute;
    top: -100%;
    -webkit-animation-name: none;
            animation-name: none;
  }
  .activities .activity.active .lieu,
  .activities .activity:hover .lieu,
  .activities .activity:focus .lieu {
    margin-top: 20px;
    color: white;
  }
  .activities .activity.active .location,
  .activities .activity:hover .location,
  .activities .activity:focus .location {
    position: absolute;
    display: none;
    top: -100%;
  }
  .activities .activity.active .activity-content,
  .activities .activity:hover .activity-content,
  .activities .activity:focus .activity-content {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 200px;
    margin-left: 30px;
    opacity: 1;
    -webkit-animation-name: none;
            animation-name: none;
  }
  .activities .activity.active .activity-content .activity-buttons,
  .activities .activity:hover .activity-content .activity-buttons,
  .activities .activity:focus .activity-content .activity-buttons {
    padding: 0;
    width: 100%;
  }
  .activities .activity.active .activity-content .activity-descr,
  .activities .activity:hover .activity-content .activity-descr,
  .activities .activity:focus .activity-content .activity-descr {
    max-height: 190px;
    overflow-y: hidden;
  }
  footer {
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
    display: -ms-grid;
    display: grid;
    grid: 120px 200px 200px/ 250px 250px 250px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: start;
    justify-items: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    grid-gap: 30px 30px;
    grid-auto-flow: row;
    grid-auto-rows: 300px;
    grid-auto-columns: 200px;
    position: relative;
    background-position-y: 20px;
    padding-bottom: 100px;
  }
  footer .pay-info {
    grid-column: 1 / end;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  footer .pay-info .CTA.footer-title {
    width: 300px;
  }
  footer .pay-info .ticket-info {
    width: 280px;
  }
  footer .info-footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  footer .info-footer > h2 {
    text-align: left;
  }
  footer .info-footer > h2::after {
    left: 300px;
  }
  footer .footer-img {
    display: block;
    width: 500px;
    height: 150px;
    grid-column: 3/end;
    -o-object-fit: cover;
       object-fit: cover;
    padding-bottom: 50px;
  }
  footer .contact {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  footer .social-media {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    width: 440px;
    min-width: 400px;
  }
  footer .social-media ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-descr.margin {
    bottom: 30px;
  }
  .contact-us {
    display: -ms-grid;
    display: grid;
    grid: auto / 300px 300px 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: start;
    justify-items: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-gap: 30px 30px;
    grid-auto-flow: row;
  }
  .contact-us .contact-title {
    text-align: left;
  }
  .contact-us .contact-descr {
    text-align: left;
  }
  .contact-us input {
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */