@import 'font';
@import 'moveRules';

//color variants
$CTA-color:#00D8FF;
$txt-cta-bg: #284e68;
$txt-basic-clr: rgb(115,123,128);
$txt-color-light-grey:#D6D6D6;
$txt-secondary-color:#d4ce9a;
$txt-tertiary-color:#f899b4;
$txt-pink-color:#F297B1;
$bg-dark-color:#31424D;
$bg-pink-color:#D35B7E;
$bg-filter:linear-gradient(0deg, rgba(244, 152, 179, 0.176) 3.2%, rgba(0, 216, 255, 0.09) 51.85%, rgba(40, 51, 59, 0) 96.4%);

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 180%;
    font-size: 15px;
}

@import 'header';