@font-face {
  font-family: 'MavenPro';
  font-weight: 900;
  src: url("/font/MavenPro-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'MavenPro';
  font-weight: 700;
  src: url("/font/MavenPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'MavenPro';
  font-weight: 500;
  src: url("/font/MavenPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'MavenPro';
  font-weight: 400;
  src: url("/font/MavenPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: url("/font/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: italic;
  src: url("/font/Montserrat-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 850;
  src: url("/font/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 850;
  font-style: italic;
  src: url("/font/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url("/font/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: italic;
  src: url("/font/Montserrat-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 750;
  src: url("/font/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 750;
  font-style: italic;
  src: url("/font/Montserrat-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url("/font/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  src: url("/font/Montserrat-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url("/font/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  src: url("/font/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url("/font/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
  src: url("/font/Montserrat-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 350;
  src: url("/font/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 350;
  font-style: italic;
  src: url("/font/Montserrat-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url("/font/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  src: url("/font/Montserrat-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Museo';
  font-weight: 700;
  src: url("/font/Museo700-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Museo';
  font-weight: 500;
  src: url("/font/Museo500-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Museo';
  font-weight: 300;
  src: url("/font/Museo300-Regular.otf") format("opentype");
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  color: black;
  background-color: none;
}

input {
  border: none;
  background-color: none;
  color: black;
}

fieldset {
  border: none;
}

section {
  margin: 0;
  padding: 0;
}

article {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 180%;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.ham-button {
  display: block;
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 9999;
  margin: 30px;
}

.ham-button :nth-child(1),
.ham-button :nth-child(2),
.ham-button :nth-child(3) {
  display: block;
  position: absolute;
  height: 4px;
  background-color: #00D8FF;
  right: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.ham-button :nth-child(1) {
  width: 24px;
  top: 0;
}

.ham-button :nth-child(2) {
  width: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ham-button :nth-child(3) {
  width: 15px;
  bottom: 0;
}

.ham-button:hover > :nth-child(1),
.ham-button:hover > :nth-child(2),
.ham-button:hover > :nth-child(3),
.ham-button:focus > :nth-child(1),
.ham-button:focus > :nth-child(2),
.ham-button:focus > :nth-child(3) {
  width: 30px;
}

.ham-button.active > :nth-child(1) {
  width: 30px;
  top: 50%;
  background-color: #284e68;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.ham-button.active > :nth-child(2) {
  opacity: 0;
  background-color: #284e68;
}

.ham-button.active > :nth-child(3) {
  width: 30px;
  top: 50%;
  background-color: #284e68;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.main-nav {
  position: fixed;
  top: 0;
  left: -100vw;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 216, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 8000;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.main-nav.active {
  left: 0;
}

.main-nav-list {
  margin: 0;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-link {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.nav-link a {
  font-family: 'Montserrat';
  font-weight: 850;
  font-size: 24px;
  color: #284e68;
}

@font-face {
  font-family: 'codeconf';
  src: url("/font/icon/codeconf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.search {
  max-height: 30px;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 10px;
}

.search.active::after {
  content: '';
  display: block;
  position: fixed;
  width: 0vw;
  height: 0vh;
  left: 100vw;
  top: 70vh;
  border-radius: 100%;
  background-color: #F297B1;
  z-index: 1;
  -webkit-animation-name: anim-search-mask;
          animation-name: anim-search-mask;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes anim-search-mask {
  0% {
    width: 0vw;
    height: 0vh;
    left: 95vw;
    top: 75vh;
    border-radius: 100%;
  }
  100% {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    border-radius: 0%;
  }
}

@keyframes anim-search-mask {
  0% {
    width: 0vw;
    height: 0vh;
    left: 95vw;
    top: 75vh;
    border-radius: 100%;
  }
  100% {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    border-radius: 0%;
  }
}

.search.active::before {
  content: '';
  display: block;
  width: 0%;
  height: 0%;
  border: none;
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 100%;
  background-color: white;
  z-index: 40;
  -webkit-animation-name: anim-search-form;
          animation-name: anim-search-form;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0.27, 0.56, 1.55);
          animation-timing-function: cubic-bezier(0.65, 0.27, 0.56, 1.55);
}

@-webkit-keyframes anim-search-form {
  0% {
    width: 0%;
    height: 0%;
    top: 50%;
    left: 100%;
    border-radius: 50px;
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    border-radius: 0px;
  }
}

@keyframes anim-search-form {
  0% {
    width: 0%;
    height: 0%;
    top: 50%;
    left: 100%;
    border-radius: 50px;
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    border-radius: 0px;
  }
}

.search-form {
  display: block;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: relative;
  z-index: 55;
}

.search-form.active {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.search-form label {
  display: none;
}

.submit-search {
  background: black;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -130px;
}

.close-search {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -2px;
  left: 0;
  width: 30px;
  height: 30px;
  background: none;
  margin: 0;
  padding: 0;
}

.close-search div {
  position: absolute;
  top: -150vh;
}

.close-search::before,
.close-search::after {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background: #284e68;
  -webkit-transform-origin: center, center;
          transform-origin: center, center;
}

.close-search::before {
  -webkit-transform: rotate(45deg) translate(40%, -100%);
          transform: rotate(45deg) translate(40%, -100%);
}

.close-search::after {
  -webkit-transform: rotate(-45deg) translate(-40%, -100%);
          transform: rotate(-45deg) translate(-40%, -100%);
}

.search-form input {
  margin-left: 50px;
  outline: none;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 15px;
  background: none;
}

.search-button {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 50;
}

.search-button::before {
  content: "\e901";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'codeconf';
  speak: none;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #284e68;
}

header {
  position: relative;
  width: 100vw;
  height: 600px;
  background: url(/img/bg/header.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.menu-nav {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 19999;
}

.main-logo {
  display: block;
  width: 200px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin: 20px;
}

.main-logo h1 {
  position: absolute;
  bottom: 150vh;
}

.main-logo img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */